@media screen and (max-width: 880px)
  body
    header
      .main-title
        font-size: 24px
      .main-sub-title
        font-size: 18px
      .call-us
        height auto
      .navigation
        &.fixed
          nav.menu
            top 60px
          section
            width: 46px;
            height: 60px;
            .menu-toggle
              padding-top: 10px;
              position: static;
              right: auto;
              top: 0;
              display: block;
        section
          -webkit-transition: none 0.25s ease-in-out;
          -moz-transition: none 0.25s ease-in-out;
          -o-transition: none 0.25s ease-in-out;
          transition: none 0.25s ease-in-out;
          .menu-toggle
            position: absolute;
            right: 20px;
            top: -100px;
            display: block;
          nav.menu
            display: none;
            position: fixed;
            top: 0px;
            background-color: white;
            z-index: 1;
            width 100vw
    .screen-1
      .imaged-block
        .overflow-text
          top 10px
          font-size: 24px;
